[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
docopt = "*"
swampyer = "*"
izaber = "*"
attrs = "*"
izaber-wamp = "*"

[requires]
python_version = "3.6"
