<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Perms</th>
      <th scope="col">URI</th>
    </tr>
  </thead>
  <tbody>
    <tr class="api-key-permission-row cursor-pointer"
        data-link-list-template=''
        data-link-list-target=''
        data-link-list-append='before'
        ></tr>

    <tr class="api-key-permission-create create-entry cursor-pointer">
      <td colspan="2">
        <i class="bi bi-shield-plus"></i> Create new permission
      </td>
    </tr>

  </tbody>
</table>

