{% extends "frame.html" %}

{% block content %}
<div class="container-lg">

<h1>Review {{uri}}</h1>

<form id="uri-form">

<div class="row g-3">

  <div class="col-md-6">
    <label class="form-check-label" for="match-policy">Action</label>
    <input type="text"
            class="form-control"
            data-link="action"
            id="action"
            name="action"
            readonly="readonly"
            aria-label="Action"
            placeholder="Action">
  </div>

  <div class="col-md-6">
    <label class="form-check-label" for="match-policy">Match Policy</label>
    <input type="text"
            class="form-control"
            data-link=""
            id="match-policy"
            name="match"
            readonly="readonly"
            aria-label="Match"
            placeholder="Match Policy">
  </div>


</div>


<div class="row g-3">

  <div class="col-md-6">
    <input class="form-check-input"
            name="system"
            data-link=""
            type="checkbox"
            readonly="readonly"
            id="checkbox-system">
    <label class="form-check-label"
            for="checkbox-system">System URI</label>
  </div>
</div>

<h2 class="mt-4"><i class="bi bi-heart-pulse"></i> Status</h2>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">
    {% if active %}
      <i class="bi bi-wifi"></i> Connected
      <h6 class="card-subtitle mb-2 text-muted">Connected since {{createTimeStr}} from {{peer}}</h6>
    {% else %}
      <i class="bi bi-wifi-off"></i> Disconnected
      <h6 class="card-subtitle mb-2 text-muted">Disconnected {{disconnectTimeStr}}. Last Connection {{createTimeStr}} from {{peer}}</h6>
    {% endif %}
    </h5>
  </div>
</div>

<h2 class="mt-4"><i class="bi bi-info-square"></i> Description</h2>

<div class="row g-3 py-2 px-3">
  <div class="col-md-12">
    <div class="ace-editor-container">
      <div class="ace-editor" id="description-{{uuid}}"></div>
    </div>
  </div>
</div>

<h2 class="mt-4"><i class="bi bi-megaphone"></i> Alert Preferences</h2>

<div class="row g-3">
  <div class="col-md-12">
    <p>Trigger an alert notification to be published to the topic <span class="code">system.event.warning.registration</span> when this registration has been disconnected for a period of time.</p>
    <ul>
    <li><span class="code">disconnect_warn_after</span> determines the number of seconds of grace period before the first warning goes out. Blank will mean no warning will be sent.</li>
    <li><span class="code">disconnect_warn_reminder_after</code> determines the number of seconds to wait before reminder messages get published. Blank means no reminders will be sent.</li>
    </ul>
  </div>
</div>

<div class="row g-3">
  <div class="col-md-4">
    <label class="col-sm-4 col-form-label">disconnect_warn_after</label>
    <input type="text"
            class="form-control"
            data-link=""
            name="disconnect_warn_after"
            aria-label="When if URI is unavailable beyond X seconds"
            placeholder="Disconnect Warn After (seconds)">
  </div>
  <div class="col-md-4">
    <label class="col-sm-4 col-form-label">disconnect_warn_reminder_after</label>
    <input type="text"
            class="form-control"
            data-link=""
            name="disconnect_warn_reminder_after"
            aria-label=""
            placeholder="">
  </div>
  <div class="col-md-4">
    {{disconnectWarnLast}}
  </div>
</div>

<div class="row g-3">
  <div class="col-md-12">
    <p>Trigger an alert notification to be published to the topic <span class="code">system.event.warning.registration</span> when this registration has been disconnected for a period of time.</p>
    <p>Trigger an alert notification to be published to the topic <span class="code">system.event.warning.registration</span> when this registration reconnected/disconnected a certain number of times in a minute.</p>
    <ul>
    <li><span class="code">disconnect_count_warn_after</span> determines the number connect/disconnects allowed in a minute before the first warning goes out. Blank will mean no warning will be sent.</li>
    <li><span class="code">disconnect_count_warn_reminder_after</code> determines the number of seconds to wait before reminder messages get published. Blank means no reminders will be sent.</li>
    </ul>
  </div>
</div>

<div class="row g-3">
  <div class="col-md-4">
    <label class="col-sm-4 col-form-label">disconnect_count_warn_after</label>
    <input type="text"
            class="form-control"
            data-link=""
            name="disconnect_count_warn_after"
            aria-label="When if URI is unavailable beyond X seconds"
            placeholder="Disconnect Warn After (seconds)">
  </div>
  <div class="col-md-4">
    <label class="col-sm-4 col-form-label">disconnect_count_warn_reminder_after</label>
    <input type="text"
            class="form-control"
            data-link=""
            name="disconnect_count_warn_reminder_after"
            aria-label=""
            placeholder="">
  </div>
  <div class="col-md-4">
    {{disconnectCountWarnLast}}
  </div>
</div>


<h2 class="mt-4"><i class="bi bi-gear"></i> Configuration</h2>


<div class="row g-3">
  <div class="col-md-12">
    <p>When set to a non-zero value, this will indicate the approximate number of seconds that the system
    will wait before simply removing the URI record.
    <ul>
			<li>a null setting here will simply pull the value from the global izaber.yaml setting
			<li>a boolean True value will disable the reaping on this URI
			<li> a boolean False will enable immediate reaping
			<li> 0 and up will become number of seconds to wait before removing a URI.
    </ul>
		<p>If a URI reregisters, countdown will be reset</p>
  </div>
</div>


<div class="row g-3">
  <div class="col-md-4">
    <label class="col-sm-4 col-form-label">zombie_lifespan</label>
    <input type="text"
            class="form-control"
            data-link=""
            name="zombie_lifespan"
            aria-label="Remove entry after disconnected for X seconds"
            placeholder="Remove After Disconnected (seconds)">
  </div>
</div>


<h2 class="mt-4"><i class="bi bi-clock-history"></i> Connection History</h2>

<div class="card">
  <div class="card-body">
    <ul>
    {% for entry in connectionHistory %}
      <li>
          From: <span class="code">{{ entry.connected }}</span>
          To: <span class="code">{{ entry.disconnected }}</span>
          {% if antry.authid %}
            By <span class="code">{{ entry.authid }}@{{ entry.peer }}</span>
          {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

</form>

<!-- Modal -->
<div class="modal fade"
      id="role-modal"
      tabindex="-1"
      aria-labelledby="Modal Dialog"
      aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content"></div>
  </div>
</div>

{% endblock %}

