{% extends "frame.html" %}

{% block content %}
<div class="container-lg">

<h1>Registrations</h1>

{% if isTrusted %}

<div class="row g-3">

  <div class="col-md-2">
      <div class="form-check form-switch pt-1">
        <input class="form-check-input" type="checkbox" id="filter-system">
        <label class="form-check-label" for="flexSwitchCheckDefault">Include System URIs</label>
      </div>
  </div>

  <div class="col-md-6">
    <div class="input-group">
      <input type="text"
              class="form-control"
              id='filter-query'
              name="query"
              aria-label="Search URIs, Peers, AuthIDs, and Descriptions"
              placeholder="Search URIs, Peers, AuthIDs, and Descriptions">
     </div>
  </div>
</div>

{% endif %}

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">URI</th>
        <th scope="col">Match</th>
        <th scope="col">Active</th>
        <th scope="col">Last</th>
        <th scope="col">System</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in records%}
        {% if registration.active %}
          <tr>
        {% else %}
          <tr class="code inactive">
        {% endif %}
          <td class="code">
            <a href="#/registrations/{{registration.key}}">{{registration.uri}}</a>
          </td>
          <td>{{registration.match}}</td>
          <td>{{registration.active}}</td>
          <td class="code">
            {% if registration.peer %}
            {{registration.authid}}@{{registration.peer}}
            {% endif %}
          </td>
          <td>{{registration.system}}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page > 1 -%}
        <li class="page-item"><a class="page-link" href="#/registrations/?{{qs('page',page-2)}}">Previous</a></li>
      {% endif %}

      {% for index in range(0, pages) -%}
        <li class="page-item
              {% if index + 1 == page -%}
                active
              {%- endif %}">
          <a class="page-link" href="#/registrations/?{{qs('page',index)}}">{{index+1}}</a>
        </li>
      {%- endfor %}

      {% if page < pages -%}
        <li class="page-item"><a class="page-link" href="#/registrations/?{{qs('page',page)}}">Next</a></li>
      {% endif %}
    </ul>
  </nav>

  <p>
  {{hits}} Records
  </p>

</div>
</div>
{% endblock %}
