version: 2
workers:
- transports:
#################################################################
# PATHS
#################################################################
#=====================================
# PLAINTEXT CONNECTION
#=====================================
  - paths:
      /:
        directory: ../web
        type: static
      ws:
        debug: true
        type: websocket
        cookie:
          max_age: 604800
          store:
            type: memory
        auth:
          ticket:
            authenticator: com.izaber.wamp.auth.authenticator
            type: dynamic
          cookie: {}
          anonymous:
            type: static
            role: public
    endpoint:
      type: tcp
      port: 8282
    type: web
#=====================================
# SSL CONNECTION
#=====================================
#  - paths:
#      /:
#        directory: ../web
#        type: static
#      ws:
#        type: websocket
#        debug: true
#        cookie:
#          store:
#            type: file
#            filename: cookies.dat
#        auth:
#          ticket:
#            authenticator: com.izaber.wamp.auth.authenticator
#            type: dynamic
#          cookie: {}
#          anonymous:
#            type: static
#            role: public
#    endpoint:
#      tls:
#        certificate: nginx-ssl-izaber-bundle.crt
#        key: nginx-ssl-izaber.key
#      type: tcp
#      port: 8181
#    type: web
#
#

#=====================================
# PLAINTEXT RAWSOCKET CONNECTION
#=====================================
  - type: rawsocket
    endpoint:
      type: tcp
      interface: "127.0.0.1"
      port: 18081
      backlog: 1024
    options:
      max_message_size: 1048576
    serializers:
    - cbor
    - msgpack
    - json
    auth:
      ticket:
        authenticator: com.izaber.wamp.auth.authenticator
        type: dynamic    

#=====================================
# PLAINTEXT UNIX SOCKET CONNECTION
#=====================================
  - type: rawsocket
    endpoint:
      type: unix
      path: "/tmp/nexus.socket"
    options:
      max_message_size: 1048576
    serializers:
    - cbor
    - msgpack
    - json
    auth:
      ticket:
        authenticator: com.izaber.wamp.auth.authenticator
        type: dynamic

#################################################################
  type: router
  options:
    pythonpath:
      - ../lib
#################################################################
# REALMS
#################################################################
  realms:
#=====================================
# IZABER REALM
#=====================================
  - name: izaber
    roles:
    - name: frontend
      authorizer: com.izaber.wamp.auth.authorizer
    - name: backend
      authorizer: com.izaber.wamp.auth.authorizer
    - name: public
      authorizer: com.izaber.wamp.auth.authorizer
    - name: trust
      permissions:
      - allow:
          subscribe: true
          register: true
          call: true
          publish: true
        uri: ''
        match: prefix
        disclose:
          caller: true
          publisher: true
#################################################################
# COMPONENTS
#################################################################
  components:
  - classname: nexus.component.domain.DomainComponent
    realm: izaber
    role: trust
    type: class
  - classname: nexus.component.utils.UtilitiesComponent
    realm: izaber
    role: trust
    type: class

