default:
  email:
      from: test@zaber.com
      host: localhost
  nexus: 
    ldap:
        server:
            host: 'dc2.id.izaber.com'
            port: 636
            use_ssl: True
        login_template: '{login}@id.izaber.com'
        login_attribute: 'sAMAccountName'
        db_login: 'generic-ldap'
        db_password: 'PASSWORD'
        basedn: 'dc=id,dc=izaber,dc=com'
        user_base: 'dc=id,dc=izaber,dc=com'
        user_filter: '(&(objectCategory=person)(samaccountname=*))'
        group_base: 'dc=id,dc=izaber,dc=com'
        group_filter: '(&(objectCategory=group)(name=*))'

    db:
        path: /app/data/db

        # if True, we ignore the usual process of "cleanup" where stuff like registrations
        # are all marked invalid. This is useful if we're doing multiple servers and doing
        # low downtime transitions
        disable_startup_reset: False

        # When set to a non-zero value, this will indicate the number of seconds that the system
        # will wait before simply removing the URI record.
        #   - a null value will cause the URI to be immediately reaped
        #   - a boolean False value will disable the reaping on this URI
        #   - a boolean True value will immediately reap this URI
        #   - 0 and up will become number of seconds to wait before removing a URI.
        # If a URI reregisters, countdown will be reset. This value can be overridden at the
        # URI record level with key by the same name
        zombie_lifespan: False

        # How much of a grace period to allow for URI notifications when
        # the server starts up. We don't want immediate klaxxons going off
        # if the server just starts and the clients haven't yet been given
        # the opportunity to start up. By default the value is 2 minutes
        notification_startup_grace: 120


  crossbar: 
    version: 2
    workers:
    - transports:
    #################################################################
    # PATHS
    #################################################################
    #=====================================
    # PLAINTEXT CONNECTION
    #=====================================
      - paths:
          /:
            type: static
            resource: static
            package: nexus.web
          ws:
            debug: true
            type: websocket
            cookie:
              max_age: 604800
              store:
                type: memory
            auth:
              ticket:
                authenticator: com.izaber.wamp.auth.authenticator
                type: dynamic
              cookie: {}
              anonymous:
                type: static
                role: public
        endpoint:
          type: tcp
          port: 8282
        type: web
    #=====================================
    # SSL CONNECTION
    #=====================================
    #  - paths:
    #      /:
    #        directory: ../web
    #        type: static
    #      ws:
    #        type: websocket
    #        debug: true
    #        cookie:
    #          store:
    #            type: file
    #            filename: cookies.dat
    #        auth:
    #          ticket:
    #            authenticator: com.izaber.wamp.auth.authenticator
    #            type: dynamic
    #          cookie: {}
    #          anonymous:
    #            type: static
    #            role: public
    #    endpoint:
    #      tls:
    #        certificate: nginx-ssl-izaber-bundle.crt
    #        key: nginx-ssl-izaber.key
    #      type: tcp
    #      port: 8181
    #    type: web
    #
    #

    #=====================================
    # PLAINTEXT RAWSOCKET CONNECTION
    #=====================================
      - type: rawsocket
        endpoint:
          type: tcp
          interface: "127.0.0.1"
          port: 18081
          backlog: 1024
        options:
          max_message_size: 1048576
        serializers:
        - cbor
        - msgpack
        - json
        auth:
          ticket:
            authenticator: com.izaber.wamp.auth.authenticator
            type: dynamic    

    #=====================================
    # PLAINTEXT UNIX SOCKET CONNECTION
    #=====================================
      - type: rawsocket
        endpoint:
          type: unix
          path: "/tmp/nexus.socket"
        options:
          max_message_size: 1048576
        serializers:
        - cbor
        - msgpack
        - json
        auth:
          ticket:
            authenticator: com.izaber.wamp.auth.authenticator
            type: dynamic

    #################################################################
      type: router
      options:
        pythonpath:
          - ../lib
    #################################################################
    # REALMS
    #################################################################
      realms:
    #=====================================
    # IZABER REALM
    #=====================================
      - name: izaber
        roles:
        - name: frontend
          authorizer: com.izaber.wamp.auth.authorizer
        - name: backend
          authorizer: com.izaber.wamp.auth.authorizer
        - name: public
          authorizer: com.izaber.wamp.auth.authorizer
        - name: trust
          permissions:
          - allow:
              subscribe: true
              register: true
              call: true
              publish: true
            uri: ''
            match: prefix
            disclose:
              caller: true
              publisher: true
    #################################################################
    # COMPONENTS
    #################################################################
      components:
      - classname: nexus.component.domain.DomainComponent
        realm: izaber
        role: trusted
        type: class

